In [1]:
import pandas as pd
import mysql.connector
from datetime import datetime
import numpy as np

In [2]:
db_config = {
    "host": "localhost",
    "user": "root",
    "password": "root",
    "database": "sih_project_1491",
}

In [3]:
data = pd.read_csv("C:\\Nayan\\Programming\\.vscode\\SIH\\Waka_ChatBot\\Data\\crop_plantings.csv")

In [4]:
data

,Location,Crop,Plant_start_date,Plant_end_date,Harvest_start_date,Harvest_end_date
0,Albania,Wheat,16-Oct,15-Dec,01-May,30-Jun
1,Albania,Maize,16-Apr,16-Jun,16-Aug,31-Oct
2,Albania,Pulses,16-Apr,26-Jun,16-Jul,31-Aug
3,Albania,Other,16-Oct,06-Dec,14-Feb,15-Apr
4,Albania,Other,16-Apr,17-May,17-Aug,15-Oct
...,...,...,...,...,...,...
1505,Zimbabwe,Cotton,01-Oct,30-Nov,01-Apr,31-May
1506,Zimbabwe,Groundnuts,01-Jun,17-Jul,01-Oct,31-Dec
1507,Zimbabwe,Sunflower,01-Nov,31-Dec,01-Apr,31-May
1508,Somalia,Sorghum,05-Apr,05-May,05-Aug,05-Sep
1509,Somalia,Sorghum,20-Oct,19-Nov,22-Mar,20-Apr

In [5]:
date_columns = ["Plant_start_date", "Plant_end_date", "Harvest_start_date", "Harvest_end_date"]
for item in date_columns:
    data[item] = data[item].apply(lambda x: datetime.strptime(x, "%d-%b").strftime("2023-%m-%d") if isinstance(x, str) and x != 'nan' else None)

In [6]:
data["Plant_start_date"][0]

'2023-10-16'

In [26]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor(dictionary=True)

In [8]:
# for index, row in data.iterrows():
#     insert_query = "INSERT INTO planting_times (Location, Crop, Plant_start_date, Plant_end_date, Harvest_start_date, Harvest_end_date) VALUES (%s, %s, %s, %s, %s, %s)"
#     cursor.execute(insert_query, (row["Location"], row["Crop"], row["Plant_start_date"], row["Plant_end_date"], row["Harvest_start_date"], row["Harvest_end_date"]))

In [9]:
conn.commit()

In [31]:
cursor.close()
conn.close()

In [11]:
search_query = "SELECT * FROM planting_times WHERE Location = %s AND Crop = %s"

In [27]:
location = "India"
crop = "Rice"

In [28]:
cursor.execute(search_query, (location, crop))

In [29]:
results = cursor.fetchall()

In [30]:
if results:
        for row in results:
            print(row)
else:
    print("No matching records found.")

No matching records found.

In [16]:
results

[{'Location': 'Albania',
  'Crop': 'Maize',
  'Plant_start_date': '2023-04-16',
  'Plant_end_date': '2023-06-16',
  'Harvest_start_date': '2023-08-16',
  'Harvest_end_date': '2023-10-31'}]

In [17]:
info = results[0]["Plant_start_date"]

In [18]:
info

'2023-04-16'

In [19]:
date_object = datetime.strptime(info, "%Y-%m-%d")

In [22]:
month = date_object.strftime("%m")
day = date_object.strftime("%d")

In [23]:
month

'04'

In [24]:
day

'16'

In [20]:
data

,Location,Crop,Plant_start_date,Plant_end_date,Harvest_start_date,Harvest_end_date
0,Albania,Wheat,2023-10-16,2023-12-15,2023-05-01,2023-06-30
1,Albania,Maize,2023-04-16,2023-06-16,2023-08-16,2023-10-31
2,Albania,Pulses,2023-04-16,2023-06-26,2023-07-16,2023-08-31
3,Albania,Other,2023-10-16,2023-12-06,2023-02-14,2023-04-15
4,Albania,Other,2023-04-16,2023-05-17,2023-08-17,2023-10-15
...,...,...,...,...,...,...
1505,Zimbabwe,Cotton,2023-10-01,2023-11-30,2023-04-01,2023-05-31
1506,Zimbabwe,Groundnuts,2023-06-01,2023-07-17,2023-10-01,2023-12-31
1507,Zimbabwe,Sunflower,2023-11-01,2023-12-31,2023-04-01,2023-05-31
1508,Somalia,Sorghum,2023-04-05,2023-05-05,2023-08-05,2023-09-05
1509,Somalia,Sorghum,2023-10-20,2023-11-19,2023-03-22,2023-04-20

In [21]:
np.dtype(data["Plant_start_date"])

dtype('O')