In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score

In [2]:
data = pd.read_csv("C:\\Nayan\\Programming\\.vscode\\SIH\\Waka_ChatBot\\Data\\dataset1.csv")

In [3]:
data

,N,P,K,pH,EC,OC,S,Zn,Fe,Cu,Mn,B,Output
0,138,8.6,560,7.46,0.62,0.70,5.90,0.24,0.31,0.77,8.71,0.11,0
1,213,7.5,338,7.62,0.75,1.06,25.40,0.30,0.86,1.54,2.89,2.29,0
2,163,9.6,718,7.59,0.51,1.11,14.30,0.30,0.86,1.57,2.70,2.03,0
3,157,6.8,475,7.64,0.58,0.94,26.00,0.34,0.54,1.53,2.65,1.82,0
4,270,9.9,444,7.63,0.40,0.86,11.80,0.25,0.76,1.69,2.43,2.26,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,351,10.7,623,7.96,0.51,0.29,7.24,0.36,4.69,0.69,11.03,0.69,1
876,264,9.0,486,7.24,0.47,0.10,3.92,0.35,8.26,0.45,7.98,0.40,1
877,276,9.2,370,7.62,0.62,0.49,6.64,0.42,3.57,0.63,6.48,0.32,1
878,320,13.8,391,7.38,0.65,1.07,5.43,0.58,4.58,1.02,13.25,0.53,2
879,264,10.3,475,7.49,0.74,0.88,10.56,0.45,7.36,1.87,10.63,0.63,0

In [4]:
y_out = data[["Output"]]
feature_matrix = data.drop("Output", axis=1)

In [5]:
y_out

     Output
0         0
1         0
2         0
3         0
4         1
..      ...
875       1
876       1
877       1
878       2
879       0

[880 rows x 1 columns]

In [6]:
feature_matrix

       N     P    K    pH    EC    OC      S    Zn    Fe    Cu     Mn     B
0    138   8.6  560  7.46  0.62  0.70   5.90  0.24  0.31  0.77   8.71  0.11
1    213   7.5  338  7.62  0.75  1.06  25.40  0.30  0.86  1.54   2.89  2.29
2    163   9.6  718  7.59  0.51  1.11  14.30  0.30  0.86  1.57   2.70  2.03
3    157   6.8  475  7.64  0.58  0.94  26.00  0.34  0.54  1.53   2.65  1.82
4    270   9.9  444  7.63  0.40  0.86  11.80  0.25  0.76  1.69   2.43  2.26
..   ...   ...  ...   ...   ...   ...    ...   ...   ...   ...    ...   ...
875  351  10.7  623  7.96  0.51  0.29   7.24  0.36  4.69  0.69  11.03  0.69
876  264   9.0  486  7.24  0.47  0.10   3.92  0.35  8.26  0.45   7.98  0.40
877  276   9.2  370  7.62  0.62  0.49   6.64  0.42  3.57  0.63   6.48  0.32
878  320  13.8  391  7.38  0.65  1.07   5.43  0.58  4.58  1.02  13.25  0.53
879  264  10.3  475  7.49  0.74  0.88  10.56  0.45  7.36  1.87  10.63  0.63

[880 rows x 12 columns]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(feature_matrix, y_out, test_size = 0.2, random_state = 42)

In [8]:
X_train.shape

(704, 12)

In [9]:
X_train.columns

Index(['N', 'P', 'K', 'pH', 'EC', 'OC', 'S', 'Zn', 'Fe', 'Cu', 'Mn', 'B'], dtype='object')

In [10]:
model = GradientBoostingClassifier(n_estimators = 100, learning_rate = 0.12, max_depth = 7, min_samples_leaf=7, subsample=0.6, random_state=0)

In [11]:
model.fit(X_train, y_train)

c:\python 3.9\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingClassifier(learning_rate=0.12, max_depth=7, min_samples_leaf=7,
                           random_state=0, subsample=0.6)

In [12]:
y_pred = model.predict(X_test)

In [13]:
accuracy_score(y_test, y_pred)

0.8977272727272727

In [14]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.89      0.97      0.93        78
           1       0.90      0.90      0.90        88
           2       1.00      0.30      0.46        10

    accuracy                           0.90       176
   macro avg       0.93      0.72      0.76       176
weighted avg       0.90      0.90      0.89       176

In [15]:
import pickle

In [16]:
with open("soil_predictor.pkl", 'wb') as file:
    pickle.dump(model, file)

In [17]:
file.close()